@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f1e8;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

/* HEADER */
header {
    background-color: #6b8e23;
    padding: 15px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.logo {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.menu a:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #8fbc8f;
    border-radius: 10px;
    color: white;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #6b8e23;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #556b2f;
}

/* CARDS */
.card-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background: white;
    width: 300px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-decoration: none;
    color: inherit;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

/* DETALLES */
.producto-detalle {
    display: flex;
    gap: 40px;
    align-items: center;
}

.producto-img img {
    width: 350px;
    border-radius: 10px;
}

.precio {
    font-size: 1.5rem;
    color: #6b8e23;
    margin: 10px 0;
}

/* CONTACTO */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* FOOTER */
footer {
    background-color: #6b8e23;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}
.social{
  margin-top: 10px;
}

.social a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.3rem;
  transition: 0.3s ease;
}

.social a:hover {
  color: #b9ef4e;
  text-shadow: 0 0 10px #d2f8c8;
}