@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f7f7f7;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #222;
    padding: 15px 0;
    
}

.nav {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 1.6rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.menu a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding: 30px 20px;
    flex: 1;
    
}

h2 {
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

img {
    max-width: 100%;
    border-radius: 10px;
    width: 50%;
}
/* Formulario */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.formulario h2{
    text-align: center;
}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #333;
}

/* Grid para proyectos */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.img-contact{
     display: block;
    margin: 0 auto;

}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
}