*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
.titulo{
    background-color: darkslateblue;
    color: thistle;
    text-align: center;
}
.rojo{
    background-color: red;
    display: inline-block;
    width: 150px;
    height: 150px;
}
.azul{
    background-color: royalblue;
    display: inline-block;
    width: 150px;
    height: 150px;
}
.morado{
    background-color: rebeccapurple;
    display: inline-block;
    width: 150px;
    height: 150px;
}
.rosa{
    background-color: hotpink;
    display: inline-block;
    width: 150px;
    height: 150px;
}
.parrafos{

    background-color: lightblue;
}
a{
    text-decoration: none;
}
.texto{
    width: 80%;
}
.lista{
    margin: 20px;
    width: 20%;
    float: left;
    background-color: black;
    padding: 20px;
    color: aliceblue;
}