article:not(.filosofia){
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 1080px; */
    margin: auto;
}
main > article:nth-child(1){
    color: white;
    background-color: rebeccapurple;
    text-align: center;
    padding: 40px 20px;
}
.filosofia{
    display: flex;
    flex-direction: row;
    height: 400px;
       /* max-width: 1080px; */
    margin: auto;
   
}
.filosofia section{
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-filosofia{
    background-position: center;
    background-size: cover;
    background-image: url(../img/index/nuestra-filosofia.png);
}
.diferentes{
   background: url(../img/index/diferentes.jpg) no-repeat center center / cover;
   color: rgb(255, 255, 255);
   padding: 30px;
   text-shadow: 1px 1px 2px rgb(78, 0, 78);
   ul{
    list-style: none;
   }
}
.mision{
    padding: 20px;
}
.mapa-ubicacion {
  width: 100%; 
}
.titulo-mapa{
    text-align: center;
}