
span{
    border: royalblue solid 2px;
    display: block;
}
.cuadro{
    height: 150px;
    width: 150px;
    display: block;
    margin: 10px;
    background-color: blueviolet;
}
.caja{
    width: 200px;
    height: 200px;
    background-color: royalblue;
    position: relative;
    top: 10px;
    left: 20px;
}
.doblecaja{
   width: 400px;
   height: 300px; 
   background-color: hotpink;
    position: relative;


}
.cajainterior{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rebeccapurple;
   }
   .caja{
    display: inline-block;
   }
   .cajas{
    position: relative;
   }
   .caja-especial{
    position: absolute;
    
   }