body{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
header{
    background-color: rgb(219, 146, 9);
    font-weight: 800;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
main{
    display: flex;
    flex-grow: 1;
}
.centro{
    flex-grow: 2;
    padding: 24px;
}
.sidebar{
    flex-grow: 1;
    padding: 24px;
    background-color: rgb(82, 80, 80);
}
